<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<title>Document</title>
</head>

<body>

	<div class="container heightfull">
		<h1>Url Shortener</h1>

		<form action="post/new" method="POST">

			<input type="text" name="lurl">
			<input type="submit" value="submit">

		</form>


	</div>


	<script src="js/bootstrap.min.js"></script>
</body>

</html>